@charset "utf-8";
@import url("common.css");

header{
    width: 960px;
    padding: 0 4%;
    margin: 10px auto;
}
header h2{
    background-color: rgb(75, 53, 155);
    color: white;
    width: 70px;
    float: left;
}
header h3{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
header h3 a:hover{
    color: rgb(0, 110, 255);
}
#mainvisual img{
    object-view-box: inset(200px 0 200px 0);
    width: 100%;
    height: 600px;
}
section h2{
    text-align: center;
    margin: 90px 0;
    font-size: 25px;
}
.sen{
    border-bottom: dotted 2px rgb(75, 53, 155);
}
#about img{
    border-radius: 50%;
    width: 100px;
}
#detail{
    display: flex;
    width: 450px;
    margin: 0 auto;
}
.bold{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
}
ul li img{
    width: 300px;
}
ul{
    display: flex;
    margin: 0 auto;
    width: 920px;
}
ul li{
    margin-right: 10px;
    list-style-type: none;
}
ul li p{
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
}
.hutoji{
    font-weight: bold;
    font-size: 16px;
}
footer p {
    text-align: center;
    margin-top: 60px;
    font-size: 11px;
}




@media screen and (max-width:600px){
    
    header{
        width: 100%;
    }
    #mainvisual img{
        height: 250px;
    }
    #detail{
        display: block;
        width: 400px;
    }
    #detail #center{
        text-align: center;
    }
    #detail p{
        text-align: center;
    }
    ul{
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    ul li{
        margin-bottom: 30px;
    }

}